<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Get Your Access Token</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<h1>Password Credentials Grant Type</h1>
<style>
    html,
    body {
        background-color: #655a5d;
        margin:0;
        padding:2px 4px 3px 4px;
        height:100%;
        width:100%;
    }
    table, td, th {
        border: 1px solid #8a8181;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    th {
        height: 50px;
    }
</style>
<form method="POST" action="">

    <table id="myTable" >
        <tr>
            <td width="20%">Client Id:</td>
            <td><input id="client_id" name="client_id" type="text" style="width: 99%"/></td>
        </tr>
        <tr>
            <td>Client Secret:</td>
            <td><input type="text" id="client_secret" name="client_secret" style="width: 99%"/></td>
        </tr>
        <tr>
            <td>Username : </td>
            <td><input type="text" id="username"  style="width: 99%"/></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" id="password" style="width: 99%"/></td>
        </tr>
        <tr>
            <td> </td>
            <td><input type="submit" value="Get a Token" style="width: 30%;float: right"/></td>
        </tr>
    </table>


   <!-- <label for="client_id">Client Id:</label>
    <input id="client_id" name="client_id" type="text"/>
    <br>
    <label for="client_secret">Client Secret:</label>
    <input type="text" id="client_secret" name="client_secret"/>
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username"/>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password"/>
    <br>

    <input type="checkbox" name="resource" value="appointment"> Appointment<br>
    <input type="checkbox" name="appointment" value="read"> Read
    <input type="checkbox" name="appointment" value="write"> Write
    <input type="checkbox" name="appointment" value="delete"> Delete<br>

    <br>
    <input type="submit" value="Get a Token"/>-->

</form>

<!--<h1>Authorization Code Grant Type</h1>-->


<script>

    $(function() {
        $("form").on("submit", function(evt) {
            evt.preventDefault();

            return false;
        })

    })

</script>



</body>
</html>