<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Register your application with us</h1>

<form action="" method="POST">

    <table>
        <tr>
            <td width="15%">Username:</td>
            <td><input type="text" id="username" name="username" style="width: 99%"/></td>
        </tr>
        <tr>
            <td>Redirect URI:</td>
            <td><input type="text" name="redirect_uri" id="redirect_uri" style="width: 99%"/></td>
        </tr>

    </table>

    <!--<label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
    <br>

    <label for="redirect_uri">Redirect URI:</label>
    <input type="text" name="redirect_uri" id="redirect_uri"/>-->
    </br></br>

    <H2>Add Resource.</H2>
    <table>
        <tr>
            <td style="width: 30%"><input type="text" name="resourceName" id="resourceName" style="width: 99%"/></td>
            <td style="width: 8%">Read : <input type="checkbox" id="Read" name="Read" value="Read"/></td>
            <td style="width: 8%">Write : <input type="checkbox" id="Write" name="Write" value="Write"/></td>
            <td style="width: 8%">Delete : <input type="checkbox" id="Delete" name="Delete" value="Delete"/></td>
            <td><INPUT type="button" value="Add" style="width: 100%" onclick="myCreateFunction()"/></td>
        </tr>

    </table>

    <!--<H2>Add Resource.</H2>
    <input type="text" name="resourceName" id="resourceName"/>
    <INPUT type="button" value="Add" onclick="myCreateFunction()"/>-->

    </br>

    <div id="fooBar">&nbsp;</div>

    <table id="myTable">
        <tr>
            <td>Resource Name</td>
            <td>Read</td>
            <td>Write</td>
            <td>Delete</td>
            <td>Select</td>
        </tr>
    </table>

    </br>
    </br>
    <input type="submit" value="Get Application's Credentials"/>
</form>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 50px;
    }
</style>

<SCRIPT language="javascript">

    function myCreateFunction() {
        var resourceName = document.getElementById("resourceName").value;

        var table = document.getElementById("myTable");
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);


        var element = document.createElement("input");
        element.setAttribute("type", "checkbox");
        element.setAttribute("value", resourceName);
        element.setAttribute("name", "resource");
        element.setAttribute("placeholder", "resource");
        element.setAttribute("checked", "true");
        //innerDiv.appendChild(element);
        cell1.innerHTML = resourceName;
        cell5.appendChild(element);


        var element1 = document.createElement("input");
        element1.innerHTML = "565656";
        element1.setAttribute("type", "checkbox");
        element1.setAttribute("value", "read");
        element1.setAttribute("name", resourceName);
        if (document.getElementById("Read").checked)
            element1.setAttribute("checked", "true");
        cell2.appendChild(element1);

        var element2 = document.createElement("input");

        element2.setAttribute("type", "checkbox");
        element2.setAttribute("value", "write");
        element2.setAttribute("name", resourceName);
        if (document.getElementById("Write").checked)
            element2.setAttribute("checked", "true");
        cell3.appendChild(element2);

        var element3 = document.createElement("input");
        element3.setAttribute("type", "checkbox");
        element3.setAttribute("value", "delete");
        element3.setAttribute("name", resourceName);
        if (document.getElementById("Delete").checked)
            element3.setAttribute("checked", "true");
        cell4.appendChild(element3);


    }


</SCRIPT>
</body>
</html>